@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 98vh;

    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.top-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.t_right-div{
    width: 45%;
}

.bottom-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.home-btn{
    position: relative;
    isolation: isolate;
    border: 2px solid hsl(9, 100%, 64%);
    padding: 5px 10px;
    background: 0;
    font-size: 1.5rem;
    text-decoration: none;
    line-height: inherit;
    color:hsl(9, 100%, 64%);
    transition: all 200ms linear;
}

.home-btn:hover,
.home-btn:focus{
    color: hsl(0, 0%, 0%);
}

.home-btn::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: hsl(9, 100%, 64%);
    transform: scale(1, 0);
    transform-origin: center;
    transition: transform 300ms ease;
}

.home-btn:hover::after{
    transform: scale(1, 1);
}